body{
position: relative;
}
.spanInput {
 display: block;

    padding: 5px;
    float: left;
}
.butClass {
margin-right: 20px;

}
.paragraf {
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
}
div {
    position: absolute;
}